@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

html, body, #root { height: 100%; }
body { background: theme(colors.np.bg); color: theme(colors.np.text); }

.leaflet-container { border-radius: 0.75rem; }
